{erl_opts, [
  debug_info
  , {parse_transform, lager_transform}
  , {parse_transform, exprecs}
%%  , {parse_transform, ct_expand}
]}.
{rebar_packages_cdn, "https://hexpm.upyun.com"}.
{deps, [
  {parse_trans, "3.1.0"}
  , {lager, "3.5.2"}
  , {mixer, "1.0.0", {pkg, inaka_mixer}}
  , {xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
%%  , {datetime_x_fin, {git, "https://github.com/simonxu72/datetime_x_fin", {branch, "master"}}}
  , {pg_model, {git, "https://github.com/simonxu72/pg_model", {branch, "master"}}}
  , {pg_protocol, {git, "https://github.com/simonxu72/pg_protocol", {branch, "master"}}}
  , {pg_repo, {git, "https://github.com/simonxu72/pg_repo", {branch, "master"}}}
  , {pg_test_utils, {git, "https://github.com/simonxu72/pg_test_utils", {branch, "master"}}}
  , {pg_mcht_enc, {git, "https://github.com/simonxu72/pg_mcht_enc", {branch, "master"}}}
  , {up_config, {git, "https://github.com/simonxu72/up_config", {branch, "master"}}}
  , {pg_mcht_protocol, {git, "https://github.com/simonxu72/pg_mcht_protocol", {branch, "master"}}}
]}.

{shell, [
  {apps, [up_config, pg_up_protocol]}
  , {config, "sys.config"}
]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
